//border
$border-min : 0;
$border-max : 101;

//flex
$flex-min-col:1;
$flex-max-col:12;
$flex-min-gap:1;
$flex-max-gap:101;

//font
$font-min:10;
$font-max:50;
$line-h-min:10;
$line-h-max:25;

//height
$height-min:0;
$height-max:101;

//width
$width-min:0;
$width-max:101;

//margin
$margin-min:0;
$margin-max:400;

//padding
$padding-min:0;
$padding-max:200;

//trbl
$top-min:0;
$top-max:51;
$left-min:0;
$left-max:51;
$right-min:0;
$right-max:51;
$bottom-min:0;
$bottom-max:51;

//z-index
$z-index-min:-11;
$z-index-max:11;

//container
$container : 1278px;