@mixin resp {
    @content;
    &-sm {
        @media (min-width: 575px) {
            @content;
        }
    }
    &-md {
        @media (min-width: 768px) {
            @content;
        }
    }
    &-lg {
        @media (min-width: 992px) {
            @content;
        }
    }
    &-xl {
        @media (min-width: 1200px) {
            @content;
        }
    }
}
