.header {
    @media (max-width:991px) {
        .menuMovil{
            overflow: hidden;
            height: 0;
            width: 100%;
            position: fixed;
            top:var(--heightMenu);
            left: 0;
            transition: .5s;
            .col-1{
                flex-direction: column;
                flex-wrap: nowrap;
            }
            .inputHeader{
                margin: auto;
            }
        }
    }
  }
  
  body.activeMenu{
      .menuMovil{
          height: calc(100vh - var(--heightMenu));
      }
  }