@font-face {
    font-family: poppins;
    src: url('/font/montserrat/Montserrat-Regular.ttf');
    font-display: auto;
}
@font-face {
    font-family: poppins;
    src: url('/font/montserrat/Montserrat-Medium.ttf');
    font-weight: 500; 
    font-display: auto;
}
@font-face {
    font-family: poppins;
    src: url('/font/montserrat/Montserrat-SemiBol.ttf');
    font-weight: 600;
    font-display: auto;
}
@font-face {
    font-family: poppins;
    src: url('/font/montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
    font-display: auto;
}
.font-poppins{
    font-family: poppins;
}