@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Regular.ttf");
  font-display: auto;
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-display: auto;
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-display: auto;
}
@font-face {
  font-family: montserrat;
  src: url("/font/montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
  font-display: auto;
}
.font-montserrat {
  font-family: montserrat;
}

@font-face {
  font-family: poppins;
  src: url("/font/montserrat/Montserrat-Regular.ttf");
  font-display: auto;
}
@font-face {
  font-family: poppins;
  src: url("/font/montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-display: auto;
}
@font-face {
  font-family: poppins;
  src: url("/font/montserrat/Montserrat-SemiBol.ttf");
  font-weight: 600;
  font-display: auto;
}
@font-face {
  font-family: poppins;
  src: url("/font/montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
  font-display: auto;
}
.font-poppins {
  font-family: poppins;
}

html {
  font-size: 8px;
  overflow: auto;
}
@media (min-width: 575px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 12px;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1680px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 20px;
  }
}

:root {
  --white: white;
  --white-1: #EBECF0;
  --white-2: #DCDDE2;
  --black: black;
  --black-1: #212121;
  --red: red;
  --blue: blue;
  --blue-1: #003966;
  --green: green;
  --yellow: yellow;
  --yellow-1: #FF913A;
  --yellow-2: #FF7100;
  --gray-1: #555770;
  --gray-2: #5D5E60;
}

@media (max-width: 991px) {
  .header .menuMovil {
    overflow: hidden;
    height: 0;
    width: 100%;
    position: fixed;
    top: var(--heightMenu);
    left: 0;
    transition: 0.5s;
  }
  .header .menuMovil .col-1 {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .header .menuMovil .inputHeader {
    margin: auto;
  }
}

body.activeMenu .menuMovil {
  height: calc(100vh - var(--heightMenu));
}

.container {
  width: 100%;
  max-width: var(--container, 79.875rem);
  margin-left: auto;
  margin-right: auto;
}

.bg, .bg img, .bg .capa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--white, white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray, gray);
}

body {
  padding-top: var(--sizeHeader, 0);
}

/*# sourceMappingURL=style.css.map */
